.pointer {
    cursor: pointer;
    }

.hide {
    display: none;
    }

.invalid-password {
    background-color: red;
    color: red;
}

.valid-password {
    background-color: green;
    color: green;
}
